<ion-header>
  <ion-navbar>
    <button ion-button icon-only menu-toggle="left" (click)="goToMainMenu()">Back
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-navbar>
    <ion-title>
      Liste
    </ion-title>
</ion-header>

<ion-content>


    <ion-list *ngIf="list.length">
        <ion-item-sliding *ngFor="let item of list; let index=index">
          <ion-item>
            <ion-label>{{item.name}}</ion-label>
            <ion-label displayFormat="DD/MM/YYYY">{{item.date | date: 'dd/MM/yyyy'}}</ion-label>
         <!--   <p>{{item.date}}</p> --> 
          </ion-item>
          <ion-item-options>
            <button (click)="removeFromList(index)" danger default ion-button icon-left>
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
<p *ngIf="!list.length" padding text-center>Your List is empty!</p>

</ion-content>
